In [5]:
import pandas as pd

In [6]:
numlist = [1, 2, 3, 4, 5]

In [7]:
num_series = pd.Series(numlist)

In [8]:
num_series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [12]:
stud_dic = {
    'rollno':[1, 2, 3, 4, 5],
    'marks':[9, 6, 7, 8 ,9]
}

In [13]:
stu_df = pd.DataFrame(stud_dic)

In [14]:
stu_df

   rollno  marks
0       1      9
1       2      6
2       3      7
3       4      8
4       5      9